
/* Html and Body
      They MUST have "height: 100%:" for parallax scrolling to work
*/

#loading {
}

/* Paste this css to your style sheet file or under head tag */
/* This only works with JavaScript,
if it's not present, don't show loader */
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(https://upload.wikimedia.org/wikipedia/commons/b/b1/Loading_icon.gif) center no-repeat #fff;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background: #EEE;
}

.bg {
  background-color: #eee;
  min-height: 100%;
}

.subtitle {

  /* This makes it so you cannot highlight the navbar */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;

  /* CSS */
  font-size: 60px;
  padding: 20px;
  letter-spacing: 10px;
}

/* All this is for fade in of title on different browsers using CSS3 */
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


/* Background CSS for blocks */
.b1 {
  background-color: #eee;
}



/* Navbar CSS */
ul.breadcrumbs {

  /* This makes it so you cannot highlight the navbar */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;

  /* CSS */
  position: fixed;
  top: 0px;
  width: 100%;
  text-align: center;
  font-family: 'Lato', sans-serif;
  padding: 8px 16px;
  background-color: #eee;
  list-style: none;
  z-index: 2; /* This is used so that the navbar is above the title */
  -webkit-animation: fadein 1s;
  -moz-animation: fadein 1s;
  -ms-animation: fadein 1s;
  -o-animation: fadein 1s;
  animation: fadein 1s;
}

ul.breadcrumbs li+li:before {
  display: inline;
  padding: 8px;
  color: grey;
  content: "/";
}


.menu li {
  display: inline;
  text-align: center;
  background-color: #eee;
  color: #212122;
}

.menu a {
  font-size: 16px;
  padding-left: 15px;
  padding-right: 10px;
  color: #212122;
}

a:link, a:hover, a:visited {
  text-decoration: none;
}

.imgResize {
  width: 1200px;
  height: auto;
}

h1 {
  text-align: center;
  padding: 20px;
  font-family: 'Lato', sans-serif;
  color: #212122;
}

h2 {
    font-family: 'Lato', sans-serif;
    color: #fff;
    position: absolute;
    top: 45%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    letter-spacing: 10px;
}

td, th {
  padding: 8px;
  text-align: right;
  border: 1px solid #212122;
}

tr:nth-child(even) {
  background-color: #999999;
}

button {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 16px 32px;
  font-family: 'Lato', sans-serif;
  font-size:16px;
  color:#fff;
  background: #212122;
  border:0;
}

/* The ONLY thing this does is that the button doesn't have a blue outline when you click it. That's it. */
button:focus {
  outline:0;
}


.contactBottom {
  margin-bottom: 1%;
}

/* Response Design Grid Layout */

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  [class*="col-"] {
    float: left;
    padding: 15px;
  }

  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}
