html, body {
  background-color: #393E46;
  height: 100%;
  margin: 0;
}

.navbar {
  display: none;
}

.profile {
  color: #DDDFD4;
  text-decoration: none;
}

.mobile-nav {
  color: #DDDFD4;
  padding: 6px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.mobile-nav-icon, .mobile-nav-logo {
  margin: auto;
}

.mobile-nav-logo {
  height: 48px;
  width: auto;
}

.sidenav {
  background-color: #EEE;
  height: 100%;
  left: 0%;
  overflow-x: hidden;
  padding-top: 60px;
  position: fixed;
  transition: 0.5s;
  width: 0%;
  z-index: 2;
}

.sidenav a {
  color: #151315;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: 'Lalezar', cursive;
  font-size: 45px;
  text-decoration: none;
}

.sidenav a:hover {
  color: #FE3100;
}

.sidenav .closebtn {
  font-size: 60px;
  margin-left: 50px;
  padding: 0;
  position: absolute;
  right: 25px;
  top: 0;
}

.sideSettings {
  background-color: #EEE;
  height: 100%;
  right: 0%;
  overflow-x: hidden;
  padding-top: 60px;
  position: fixed;
  transition: 0.5s;
  width: 0%;
  z-index: 2;
}

.sideSettings a {
  align-items: center;
  color: #151315;
  display: flex;
  flex-direction: column;
  font-family: 'Lalezar', cursive;
  font-size: 45px;
  text-decoration: none;
}

.sideSettings a:hover {
  color: #FE3100;
}

.sideSettings .closebtn {
  font-size: 60px;
  margin-right: 50px;
  padding: 0;
  position: absolute;
  left: 25px;
  top: 0;
}

.banner {
  background-color: #222831;
  height: 60px;
  width: 100%;
  z-index: 5;
}

.header {
  display:none;
}
.Select {
  display:none;
}

.dropbtn {
  position: relative;
  background-color: #222831;
  color: #DDDFD4;
  width: 100%;
  font-family: 'Lalezar', cursive;
  font-size: 35px;
  border: none;
}

.dropbtn:hover, .dropbtn:focus {
  outline: 0;
}

.dropdown-jumptypes {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dropdown-content {
  position: absolute;
  left: 0;
  top: 115px;
  display: none;
  flex-direction: column;
  background-color: #131E20;
  font-family: 'Lalezar', cursive;
  overflow: auto;
  width: 100%;
  z-index: 1;
}

.dropdown-content a {
  align-items: center;
  color: #DDDFD4;
  display: flex;
  flex-direction: column;
  font-size: 4vh;
  padding: 10px 0px 10px 0px;
  text-decoration: none;
  border: none;
  width: 100%;
}

h2 {
  display: none;
}

table, th, td {
  border: 0;
}
table {
  display: flex;
  justify-content: center;
  border-collapse: collapse;
  background-color: transparent;
}

th {
  font-size: 3.8vh;
  padding-left: 50px;
  text-align: left;
  vertical-align: middle;
}

tr:nth-child(even) {
  background-color: #131E20;
}

tr {
  text-align: left;
  vertical-align: middle;
}

tbody {
  width: 100%;
}

td {
  padding-left: 50px;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 2.4vh;
  width: 1000px;
}

#Tables {
  font-family: 'Lalezar', cursive;
  color: #DDDFD4;
}

#myTableLJ {
  display: flex;
}

#myTableBHOP, #myTableMBHOP, #myTableWJ, #myTableDBHOP, #myTableCJ, #myTableLAJ,
#Longjump, #Bhop, #MultiBhop, #Weirdjump, #DropBhop, #Countjump, #Ladderjump {
  display: none;
}



.button-types {
  display:none;
}

@media (min-width: 1000px) {
  body {
    background-color: #393E46;
  }

  .navbar {
    display: flex;
    margin: 0;
  }

  ul.breadcrumbs {
    /* This makes it so you cannot highlight the navbar */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    /* CSS */
    position: absolute;
    top: 0px;
    width: 100%;
    margin: 0;
    text-align: center;
    font-family: 'Lalezar', cursive;
    padding-top: 8px;
    padding-left: 0px;
    background-color: #222831;
    list-style: none;
    z-index: 2; /* This is used so that the navbar is above the title */
    -webkit-animation: fadein 1s;
    -moz-animation: fadein 1s;
    -ms-animation: fadein 1s;
    -o-animation: fadein 1s;
    animation: fadein 1s;
  }
  ul.breadcrumbs li+li:before {
    display: inline;
    padding: 8px;
    color: grey;
    content: "/";
  }
  .navbar li {
    display: inline;
    text-align: center;
    background-color: #222831;
    color: #EEE;
  }
  .navbar a {
    font-size: 16px;
    padding-left: 15px;
    padding-right: 10px;
    color: #EEE;
  }
  .navbar a:link, a:hover, a:visited {
    text-decoration: none;
  }

  #jumptype-button {
    display: none;
  }

  #myTableLJ {
    display: none;
  }

  .button-types {
    display: flex;
    justify-content: center;
  }

  .mobile-nav {
    display: none;
  }

  .banner {
    display: flex;
    flex-direction: column;
    background-color: #222831;
    height: 200px;
  }

  .dropbtn {
    position: flex;
    background-color: #393E46;
    color: #DDDFD4;
    width: auto;
    padding: 0px 10px 0px 10px;
    font-family: 'Lalezar', cursive;
    font-size: 28px;
    border: none;
  }

  .dropbtn:hover {
    transition: .5s ease;
    color: #E45051 !important;
  }

  .title {
    color: #DDDFD4;
    display: flex;
    font-family: 'Lalezar', cursive;
    padding-top: 33px;
    align-self: center;
    font-size: 75px;
    justify-content: center;
    margin: 0px;
  }

  .Select {
    color: #DDDFD4;
    display: flex;
    font-family: 'Lalezar', cursive;
    font-size: 2em;
    justify-content: center;
    margin: 0px;;
  }

  /* Pray to your god(s) that you don't have to modify below this line */
  #Tables {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin: -10px 0 0 -10px;
    width: 70%;
    padding-left: 15%;
  }

  #myTableLJ, #myTableBHOP, #myTableMBHOP, #myTableWJ, #myTableDBHOP, #myTableCJ {
    border-color: #131E20;
    border-width: 2px;
    border-style: none solid none none;
    box-shadow: 3px 8px 15px #212122;
    margin: 25px 0 25px 10px;
    box-sizing: border-box;
  }

  #myTableLAJ {
    border-color: #131e20;
    border-width: 2px;
    box-shadow: 3px 8px 15px #212122;
    margin: 25px 0 25px 10px;
    box-sizing: border-box;
  }

  #Longjump, #Bhop, #MultiBhop, #Weirdjump, #DropBhop, #Countjump, #Ladderjump {
    display: flex;
  }

  td {
    padding-left: 20px;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 17px;
    width: 50%;
  }
  th {
    font-size: 25px;
    padding-left: 20px;
  }
}
