.se-pre-con {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: url(https://upload.wikimedia.org/wikipedia/commons/b/b1/Loading_icon.gif) center no-repeat #fff;
  z-index: 9999;
}

html, body {
  background-color: #173e43;
  height: 100%;
  margin: 0;
}

.mobile-nav {
  color: #dddfd4;
  padding: 6px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.mobile-nav-icon, .mobile-nav-logo {
  margin: auto;
}

.mobile-nav-logo {
  height: 48px;
  width: auto;
}

.sidenav {
  background-color: #eee;
  height: 100%;
  left: 0%;
  overflow-x: hidden;
  padding-top: 60px;
  position: fixed;
  transition: 0.5s;
  width: 0%;
  z-index: 1;
}

.sidenav a {
  color: #151315;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: 'Lalezar', cursive;
  font-size: 45px;
  text-decoration: none;
}

.sidenav a:hover {
  color: #fe3100;
}

.sidenav .closebtn {
  font-size: 60px;
  margin-left: 50px;
  padding: 0;
  position: absolute;
  right: 25px;
  top: 0;
}

.sideSettings {
  background-color: #eee;
  height: 100%;
  right: 0%;
  overflow-x: hidden;
  padding-top: 60px;
  position: fixed;
  transition: 0.5s;
  width: 0%;
  z-index: 1;
}

.sideSettings a {
  align-items: center;
  color: #151315;
  display: flex;
  flex-direction: column;
  font-family: 'Lalezar', cursive;
  font-size: 45px;
  text-decoration: none;
}

.sideSettings a:hover {
  color: #fe3100;
}

.sideSettings .closebtn {
  font-size: 60px;
  margin-right: 50px;
  padding: 0;
  position: absolute;
  left: 25px;
  top: 0;
}

.banner {
  background-color: #494037;
  height: 60px;
  width: 100%;
  z-index: 5;
}

.header {
  display:none;
}
.Select {
  display:none;
}

.dropbtn {
  position: relative;
  background-color: #494037;
  color: #dddfd4;
  width: 100%;
  font-family: 'Lalezar', cursive;
  font-size: 35px;
  border: none;
}

.dropbtn:hover, .dropbtn:focus {
  outline: 0;
}

.dropdown-jumptypes {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dropdown-content {
  position: absolute;
  left: 0;
  top: 115px;
  display: none;
  flex-direction: column;
  background-color: #131E20;
  font-family: 'Lalezar', cursive;
  overflow: auto;
  width: 100%;
  z-index: 1;
}

.dropdown-content a {
  align-items: center;
  color: #dddfd4;
  display: flex;
  flex-direction: column;
  font-size: 4vh;
  padding: 10px 0px 10px 0px;
  text-decoration: none;
  border: none;
}

.show {
  display:flex;
}

h2 {
  display: none;
}

table, th, td {
  border: 0;
}
table {
  display: flex;
  justify-content: center;
  border-collapse: collapse;
  background-color: transparent;
}

th {
  font-size: 3.8vh;
  padding-left: 50px;
  text-align: left;
  vertical-align: middle;
}

tr:nth-child(even) {
  background-color: #131E20;
}

tr {
  text-align: left;
  vertical-align: middle;
}

tbody {
  width: 100%;
}

td {
  padding-left: 50px;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 2.4vh;
  width: 1000px;
}

#Tables {
  font-family: 'Lalezar', cursive;
  color: #dddfd4;
}

#myTableLJ {
  display: flex;
}

#myTableBHOP, #myTableMBHOP, #myTableWJ, #myTableDBHOP, #myTableCJ, #myTableLAJ,
#Longjump, #Bhop, #MultiBhop, #Weirdjump, #DropBhop, #Countjump, #Ladderjump {
  display: none;
}



.button-types {
  display:none;
}

@media (min-width: 1000px) {
  body {
    background-color: #173e43;
  }

  #jumptype-button {
    display: none;
  }

  #myTableLJ {
    display: none;
  }

  .button-types {
    display: flex;
  }

  .mobile-nav {
    display: none;
  }

  .banner {
    display: flex;
    flex-direction: column;
    background-color: #173e43;
    height: 240px;
  }

  .dropbtn {
    position: flex;
    background-color: #173e43;
    color: #dddfd4;
    width: auto;
    padding: 0px 10px 0px 10px;
    font-family: 'Lalezar', cursive;
    font-size: 28px;
    border: none;
  }


  .header {
    color: #dddfd4;
    display: flex;
    font-family: 'Lalezar', cursive;
    font-size: 80px;
    justify-content: flex-start;
    padding: 2% 0% 0% 5%;
    margin: 0px;
  }

  .Select {
    color: #dddfd4;
    display: flex;
    font-family: 'Lalezar', cursive;
    font-size: 2em;
    justify-content: flex-start;
    margin: 0px;
    padding: 0% 0% 0% 10%;
  }

  #Tables {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }

  #myTableLJ, #myTableBHOP, #myTableMBHOP, #myTableWJ, #myTableDBHOP, #myTableCJ {
    border-color: #131e20;
    border-width: 2px;
    border-style: none solid none none;
    box-shadow: 3px 8px 15px #212122;
  }

  #myTableLAJ {
    border-color: #131e20;
    border-width: 2px;
    box-shadow: 3px 8px 15px #212122;
  }

  #Longjump, #Bhop, #MultiBhop, #Weirdjump, #DropBhop, #Countjump, #Ladderjump {
    display: flex;
  }


  td {
    padding-left: 20px;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 17px;
    width: 50%;
  }
  th {
    font-size: 25px;
    padding-left: 20px;
  }
}
