body {
  background: #333333;
}

.quote-box {
  position: relative;
  background-color: #FDF3E7;
  margin: auto;
  width: 40%;
  height: 260px;
}

h1 {
  text-align: center;
  font-family: 'Work Sans', sans-serif;
  color: #F9BF3B;
}

a:link, a:hover, a:visited {
    color: #F9BF3B;
    text-decoration: none;
}

h2 {
  font-family: 'Work Sans', sans-serif;
  color: #3B3738;
}

h4 {
  text-align: right;
  font-family: 'Work Sans', sans-serif;
  font-size: 18pt;
  color: #3B3738;
}

.newQuote {
  position: absolute;
  width: 40%;
  bottom: 2%;
  right: 5%;
}

.tweetThis {
  position: absolute;
  width: 40%;
  bottom: 2%;
  left: 5%;
}

textarea {
  resize: none;
  width: 50%;
  height: 90px;
}

footer {
  color: white;
  text-align: center;
  background-color: #222222;
  height: 60px;
  bottom: 0;
}
